<!-- looking good
<div >
  {{profileDetails.userRegion}}

</div> -->
<table>
  <tr>
    <th>Region</th>
    <th>Departmant</th>
    <th>Ville</th>
    <th>Sport</th>
    <th>Pet</th>
    <th>Food</th>
  </tr>
  <tr *ngIf="profileDetails">
    <td>{{profileDetails.userRegion}}</td>
    <td>{{profileDetails.userDepartment}}</td>
    <td>{{profileDetails.userVile}}</td>
    <td>{{profileDetails.userSport}}</td>
    <td>{{profileDetails.userPet}}</td>
    <td>{{profileDetails.userFood}}</td>

    <td routerLinkActive="router-link-active">
      <button routerLink="/editUserProfile/{{profileDetails.id}}"
              style="margin-left: 20px; color: green" class="btn btn-info">EDIT</button>
    </td>
    <td>
      <button (click)="deleteProfileDetails(profileDetails.id)"
              style="margin-left: 20px; color: red" class="btn btn-info">DELETE</button>
    </td>
  </tr>
</table>
