<div>
  <!-- Form starts  [formGroup]="registrationForm" (ngSubmit)="onSubmit()" #f="ngForm" novalidate-->
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="group-gap">
      <div class="d-block my-3">

        <div class="mb-3">
          <label for="userRegion">Region</label>
          <select class="custom-select" (change)="onValueChanged($event)" name="userRegion" [(ngModel)]="form.userRegion" #userRegion="ngModel" required>
            <option [ngValue]="">Choose your Region</option>
            <option *ngFor="let region of regionDetails" [ngValue]="region">{{region.regionName}}</option>
          </select>
        </div>
        <div>
          <label for="userDepartment">Department</label>
          <select class="custom-select" (change)="onValueChanged($event)" name="userDepartment" [(ngModel)]="form.userDepartment" #userDepartment="ngModel"
                  required>
            <option [ngValue]="">Choose your Department</option>
            <option *ngFor="let dep of departmentDetails" [ngValue]="dep">{{dep.departmentName}}</option>
          </select>
        </div>
        <label for="userVile">Vile</label>
        <select class="custom-select" (change)="onValueChanged($event)"  name="userVile" [(ngModel)]="form.userVile" #userVile="ngModel"
                required>
          <option [ngValue]="">Choose your Vile</option>
          <option *ngFor="let v of vileDetails" [ngValue]="v">{{v.vileName}}</option>
        </select>
        <div>
          <label for="userSport">Sport</label>
          <select class="custom-select" (change)="onValueChanged($event)" name="userSport" [(ngModel)]="form.userSport" #userSport="ngModel"
                  required >
            <option [ngValue]="">Choose your Sport</option>
            <option *ngFor="let sp of sportDetails" [ngValue]="sp">{{sp.sportName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="userPet">Pet</label>
          <input pInputText type="text" name="userPet" [(ngModel)]="form.userPet" #userPet="ngModel"
                 required>
        </div>
        <div class="form-group">
          <label for="userFood">Food</label>
          <input pInputText type="text" name="userFood" [(ngModel)]="form.userFood" #userFood="ngModel"
                 required>
        </div>
        <!-- Submit Button -->
        <button type="submit" style="color: green">Submit</button>
        <div *ngIf="f.submitted && isUserProfileFilledFailed" class="alert alert-danger">
          Your Profile failed: {{errorMessage}}
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div class="row col-sm-6" style="max-width: 350px">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="userRegion">Region</label>
      <input type="text" class="form-control" name="userRegion" [(ngModel)]="form.userRegion" #userRegion="ngModel"
        required />
      <div *ngIf="f.submitted && userRegion.invalid">
        <div *ngIf="userRegion?.errors.required">Your Region is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userDepartment">Department</label>
      <input type="text" class="form-control" name="userDepartment" [(ngModel)]="form.userDepartment" #userDepartment="ngModel"
        required />
      <div *ngIf="f.submitted && userDepartment.invalid">
        <div *ngIf="userDepartment?.errors.required">Your Department is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userVile">Vile</label>
      <input type="text" class="form-control" name="userVile" [(ngModel)]="form.userVile" #userVile="ngModel"
        required />
      <div *ngIf="f.submitted && userVile.invalid">
        <div *ngIf="userVile?.errors.required">Your Vile is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userSport">Sport</label>
      <input type="text" class="form-control" name="userSport" [(ngModel)]="form.userSport" #userSport="ngModel"
        required />
      <div *ngIf="f.submitted && userSport.invalid">
        <div *ngIf="userSport?.errors.required">Your Sport is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userPet">Pet</label>
      <input type="text" class="form-control" name="userPet" [(ngModel)]="form.userPet" #userPet="ngModel"
        required />
      <div *ngIf="f.submitted && userPet.invalid">
        <div *ngIf="userPet?.errors.required">Your Pet is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userFood">Food</label>
      <input type="text" class="form-control" name="userFood" [(ngModel)]="form.userFood" #userFood="ngModel"
        required />
      <div *ngIf="f.submitted && userFood.invalid">
        <div *ngIf="userFood?.errors.required">Your Food is required</div>
      </div>
    </div>
    <div class="form-group">
      <button style="color: green">Save</button>
      <div *ngIf="f.submitted && isUserProfileFilledFailed" class="alert alert-danger">
        Your Profile failed: {{errorMessage}}
      </div>
    </div>
  </form>
  <hr />
</div> -->
