<h4>Content from Server</h4>>
{{board}}
{{errorMessage}}
<!--<div *ngFor="let regUsers of regUsersDetails | async">
  {{regUsers}}
</div>-->


<div class="table-responsive table-container">
  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>UserName</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let regUsers of regUsersDetails | async">

      <td>{{regUsers.name}}</td>
      <td>{{regUsers.username}}</td>
      <td>{{regUsers.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
