<header>
  <div class="container">
    <a [routerLink]="['/']" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a [routerLink]="['/']" >Home</a></li>
        <li *ngIf="authority === 'user'">
          <a [routerLink]="['/user']" routerLinkActive="router-link-active" >User Board</a>
        </li>
        <li *ngIf="authority === 'admin'">
          <ul>
            <li>
              <a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin Board</a>
            </li>
            <li>
              <a [routerLink]="['/region']" >Region</a>
            </li>
          </ul>
        </li>
        <li *ngIf="!authority">
          <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Login</a>
        </li>
        <!--<li><a [routerLink]="['/region']" >Region</a></li>-->
        <!-- <li><a [routerLink]="['/sigin']" routerLinkActive="router-link-active" >Sign In</a></li>
         <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >LOg In</a></li>-->
      </ul>
    </nav>
  </div>
</header>

