<div *ngIf="info.token; else loggedOut">
  <div *ngIf="authority === 'user'; else other">
    <div >
      <div *ngIf="profileDetails == null; else userProfileDetails">
        <h4>
          <p>
            Welcome to your Weekend get away <b style="color: blue">{{info.username}}</b>. <br/>
            Please fill up the following form so we can know you better
          </p>
        </h4>
        <app-create-user-profile></app-create-user-profile>
      </div>
      <ng-template #userProfileDetails>
        <h4>
          <p>
            Hello <b style="color: blue">{{info.username}}</b>, welcome to your weekend profile.
          </p>
        </h4>
      </ng-template>
    </div>
  </div>
  <ng-template #other>
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
  </ng-template>
  <button class="btn btn-secondary" (click)="logOut()">Logout</button>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>



<!--<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}.
  </p>
  <button class="btn btn-secondary" (click)="logOut()">Logout</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>-->
